.exchange-market__blob{
  pointer-events: none;
  width: 2038px;
  height: 2018px;
  top: -800px;
  left: -1500px;
  background-image: url("../images/bg-blur-blue-01.png");
}
.partners__background{
  width: 829px;
  height: 831px;
  top: 243px;
  left: -330px;
  background-image: url("../images/bg-glow-purple.png");
}
.partners__icon--mena{
  width: 72px;
  height: 82px;
  top: 475px;
  left: 250px;
  background-image: url("../images/mena-3d-glass.svg");
  background-size: cover;
  background-repeat: no-repeat;
}.partners__icon--near{
  width: 73px;
  height: 83px;
  top: 380px;
  left: 165px;
  background-image: url("../images/near-3d-glass.svg");
}
.partners__icon--solana{
  width: 96px;
  height: 96px;
  top: 515px;
  left: 115px;
  background-image: url("../images/solana-3d-glass.svg");
}
.exchange-grid{
  position: relative;
}
.partners__grid{
  position: absolute;
  width: 408px;
  height: 696px;
  left: 970px;
  top: 400px;
}
.careers__background--blue{
  width: 567px;
  height: 401px;
  top: 4950px;
  left: 160px;
  background-image: url(../images/bg-blur-lightblue.png);
}
.careers__background--brown{
  width: 400px;
  height: 400px;
  top: 4910px;
  left: 390px;
  background-image: url(../images/bg-brown.png);
}
.contact__background{
  pointer-events: none;
  width: 527px;
  height: 372px;
  top: 5650px;
  left: 110px;
  background-image: url(../images/bg-blur-lightblue.png);
}
.contact__glow--left{
  pointer-events: none;
  width: 323px;
  height: 323px;
  top: 5550px;
  left: 680px;
  background-image: url(../images/bg-brown.png);
}
.contact__glow--purple{
  pointer-events: none;
  width: 662px;
  height: 574px;
  top: 5500px;
  left: 680px;
  background-image: url(../images/bg-purple.png);
}
.contact__glow--brown{
  pointer-events: none;
  width: 323px;
  height: 315px;
  top: 5680px;
  left: 930px;
  background-image: url(../images/bg-brown.png);
}
.global-absolute{
  position: absolute;
  opacity: 1;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
}